/*-- Simple CSS Reset -- */


* {
	padding: 0;
	margin: 0;
}


/* -- Body styles -- */


body {
	background-color: black;
	color:#667073;
	font: 16px/1.3 'Arial',sans-serif;
}

html, body {
	height: 100%;
}


/* General */

.pull-right{
	float:right !important;
}

/* -- Form styles -- */


form.login {
	position: fixed;
	top: 50%;
	max-height: 140px;
	max-width: 390px;
	width: 100%;
	left: 50%;
	margin: -70px 0 0 -195px;
	text-align: center;
	z-index: 2;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	padding: 60px 0 0;
}

form.login span {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

form.login input[type=text] {
	position: relative;
	left: -5px;
	width: 160px;
	height: 29px;
	padding: 0 10px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	background-color: rgba(255,255,255, 0.8);
	border: 1px solid #C5C5C5;
	border-radius: 2px;
	margin-top: 26px;
}

form.login input[type=text].denied {
	border: 1px solid red;
	outline: none;
}

form.login input[type=text].animation {
	transition: 0.1s;
	-webkit-animation-name: shakeMe;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-delay: 0s;
	animation-name: shakeMe;
	animation-duration: 0.6s;
	animation-delay: 0s;
}

form.login input[type=text]::-webkit-input-placeholder {
	color: #ABABAB;
}

form.login input[type=submit] {
	position: relative;
	left: 5px;
	height: 29px;
	width: 40px;
	line-height: 29px;
	text-align: center;
	padding: 0 10px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	background-color: rgba(90, 147, 187, 0.69);
	color: #fff;
}


@-webkit-keyframes shakeMe {
	0%   { left: -10px; }
	15%  { left: 5px; }
	30%   { left: -10px; }
	45%  { left: 5px; }
	60%   { left: -10px; }
	75%  { left: 5px; }
	90%   { left: -10px; }
	100%  { left: 5px; }
}

@-moz-keyframes shakeMe {
	0%   { left: -10px; }
	15%  { left: 5px; }
	30%   { left: -10px; }
	45%  { left: 5px; }
	60%   { left: -10px; }
	75%  { left: 5px; }
	90%   { left: -10px; }
	100%  { left: 5px; }
}

@-o-keyframes shakeMe {
	0%   { left: -10px; }
	15%  { left: 5px; }
	30%   { left: -10px; }
	45%  { left: 5px; }
	60%   { left: -10px; }
	75%  { left: 5px; }
	90%   { left: -10px; }
	100%  { left: 5px; }
}

@keyframes shakeMe {
	0%   { left: -10px; }
	15%  { left: 5px; }
	30%   { left: -10px; }
	45%  { left: 5px; }
	60%   { left: -10px; }
	75%  { left: 5px; }
	90%   { left: -10px; }
	100%  { left: 5px; }
}

@media(max-width: 500px){
	form.login {
		max-height: 120px;
		max-width: 300px;
		margin: -60px 0 0 -150px;
		padding: 40px 0 0;
	}
}

/* -- Blur effect -- */


.homebanner.blurred, div.reveal.blurred {
	-webkit-filter: blur(4px);
	filter: blur(4px);
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}


/* Page stuff */

.bottom{
	height: 7em;
	background-color: black;
	width: 100%;
	position: fixed;
	bottom: 0;
	
}
.bottom div{
	border: 0.2em solid green;
	height: 100%;
}



#mainContainer, .content, .page{
	height: 100%;
}

/* Mouse page */

#leftClick{
	float:left;
	width: 40%;
}

#rightClick{
	float:right;
	width: 40%;
}

.wheelClick{
	width: 15%;
	float: left;
}
#wheelClickUp{
	height: 3.1em;
}
#wheelClickDown{
	height: 3.1em;
}




/* Keyboard page */

#keyboardPage .center{
	height: 50%;
    /* height: 300px; */
    /* margin: auto; */
    text-align: center;
    position: relative;
}

#keyboardPage .center input,
#keyboardPage .center p
{
	bottom: 0;
	position: absolute;
	
    padding: 10px;
    border-radius: 5px;
	width: 30em;
	margin-left: -15em;
}
#keyboardPage .center p
{
bottom: 45px;
    font-size: 5em;
    margin-left: auto;
    /* left: 0; */
    text-align: left;
}

#keyboardPage .center button{
	bottom: 45px;
	position: absolute;
	
    padding: 10px;
    border-radius: 5px;
	width: 10em;
	margin-left: -15em;
}

#volumeDown{
	margin-left: 5.5em !important;
}
#volumeMute{
	margin-left: -4.9em !important;
}

/*
Navbar
*/


/* Add a black background color to the top navigation */
.topnav {    
	background-color: #333;
    position: fixed;
    width: 100%;
	z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}